<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.ErrorHandling" extends="Helix.Base">
          <predicate>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/$(module)" />
            <include name="Templates" database="master" path="/sitecore/templates/Feature/$(module)" />
            <include name="Content" database="master" path="/sitecore/content/Adventure/Home/NotFound" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
