<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<scheduling>
			<agent type="Adventure.Feature.Mailing.Services.MailingService, Adventure.Feature.Mailing" resolve="true" method="AsyncExecute" interval="7.00:00:00">
			</agent>
			<agent type="Sitecore.Tasks.DatabaseAgent" method="Run" interval="00:01:00" >
				<patch:attribute name="interval">7.00:00:00</patch:attribute>
				<param desc="database">master</param>
				<param desc="schedule root">/sitecore/system/tasks/schedules</param>
				<LogActivity>true</LogActivity>
			</agent>
		</scheduling>
	</sitecore>
</configuration>