<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Mailing" extends="Helix.Base" dependencies="Foundation.*">
          <predicate>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Mailing" />
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Mailing" />
            <include name="Content" database="master" path="/sitecore/content/Components/Mailing" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
