<?xml version="1.0"?>
<configuration name="Feature.EventDetailsPersonalization">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\EventDetailsPersonalizationTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Feature\EventDetailsPersonalization\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Feature/EventDetailsPersonalization"/>
  </templatePredicate>
</configuration>