<?xml version="1.0"?>
<configuration name="Feature.EventDetailsComments">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\EventDetailsCommentsTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Feature\EventDetailsComments\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Feature/EventDetailsComments"/>
  </templatePredicate>
</configuration>