<?xml version="1.0"?>
<configuration name="Feature.MultiLanguage">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\MultiLanguageTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Feature\MultiLanguage\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Feature/MultiLanguage"/>
  </templatePredicate>
</configuration>