<?xml version="1.0"?>
<configuration name="Foundation.EmailProvider">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\EmailTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Foundation\EmailProvider\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Foundation/EmailProvider"/>
  </templatePredicate>
</configuration>