<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/">
	<sitecore role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">

		<settings>

			<setting name="EventProviderIndex" value="sitecore_master_index" />

			<setting name="EventProviderRequestUrl" value="https://adventure_companysc.dev.local/api/sitecore/EventProvider/GetEvent" />

		</settings>
	</sitecore>
</configuration>