<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<scheduling>
			<agent type="Adventure.Feature.EventDetailsProvider.Services.EventCreatorService, Adventure.Feature.EventDetailsProvider" resolve="true" method="CreateEvent" interval="24:00:00">
			</agent>
			<agent type="Sitecore.Tasks.DatabaseAgent" method="Run" interval="00:05:00" >
				<patch:attribute name="interval">00:05:00</patch:attribute>
				<param desc="database">master</param>
				<param desc="schedule root">/sitecore/system/tasks/schedules</param>
				<LogActivity>true</LogActivity>
			</agent>
		</scheduling>
	</sitecore>
</configuration>