<!--
	Event details comments serialization settings
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

	<sitecore>
		<unicorn>
			<configurations>

				<configuration name="Feature.EventDetailsPersonalization" extends="Helix.Base" dependencies="Foundation.*">
					<predicate>
						<include name="Profiles" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Preferable Event Type" />
						<include name="Templates" database="master" path="/sitecore/templates/Feature/EventDetailsPersonalization" />
					</predicate>

				</configuration>

			</configurations>
		</unicorn>
	</sitecore>
</configuration>