<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Login" extends="Helix.Base" dependencies="Foundation.*">
          <predicate>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Login" />
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Login" />
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Feature/$(module)" />
            <include name="Content" database="master" path="/sitecore/content/Adventure/Home/AccountHeader" />
          </predicate>
        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>
