<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurator type="Adventure.Foundation.DependencyInjection.Infrastructure.ServicesConfigurator, Adventure.Foundation.DependencyInjection"/>
		</services>
	</sitecore>
</configuration>