<?xml version="1.0"?>
<configuration name="Feature.Navigation">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\NavigationTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Feature\Navigation\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Feature/Navigation"/>
  </templatePredicate>
</configuration>