<?xml version="1.0"?>
<configuration name="Feature.Registration">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\RegistrationTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Feature\Registration\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Feature/Registration"/>
  </templatePredicate>
</configuration>