<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.EventSearchComponent" 
					description="Adventure.Feature.EventSearchComponent templates and renderings" 
					dependencies="Foundation.*"
					extends="Helix.Base"
				>
			<predicate>
				<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/EventSearchComponent" />
				<include name="Templates" database="master" path="/sitecore/templates/Feature/EventSearchComponent" />
				<include name="Content" database="master" path="/sitecore/content/Components/Event search" />
			</predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
