<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="website">
        <patch:attribute name="rootPath" value="/sitecore/content/Adventure" />
        <patch:attribute name="hostName" value="i0sc.dev.local" />
        <patch:attribute name="targetHostName" value="i0sc.dev.local" />
      </site>
    </sites>
  </sitecore>
</configuration>
