<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <mvc.getPageRendering>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" 
                           type="Adventure.Foundation.Assets.Pipelines.GetPageRendering.ClearAssets, Adventure.Foundation.Assets"/>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" 
                           type="Adventure.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Adventure.Foundation.Assets">
                    <siteAssets hint="raw:AddAsset" />
                </processor>
            </mvc.getPageRendering>
        </pipelines>
    </sitecore>
</configuration>