<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/">
	<sitecore role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
		<exm>
			<eds>
				<smtpSettings patch:instead="*[@type='Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core']" type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
					<server>smtp.gmail.com</server>
					<port>587</port>
					<userName>adventure.email.sender@gmail.com</userName>
					<password>cfqnrjh123</password>
					<authenticationMethod>LOGIN</authenticationMethod>
					<startTls>true</startTls>
					<proxySettings ref="exm/eds/proxySettings" />
				</smtpSettings>
			</eds>
		</exm>
		<settings>

			<setting name="MailServer" value="smtp.gmail.com" />
			<!--  MAIL SERVER USER
        If the SMTP server requires login, enter the user name in this setting
  -->
			<setting name="MailServerUserName" value="adventure.email.sender@gmail.com" />
			<!--  MAIL SERVER PASSWORD
        If the SMTP server requires login, enter the password in this setting
  -->
			<setting name="MailServerPassword" value="cfqnrjh123" />
			<!--  MAIL SERVER PORT
        If the SMTP server requires a custom port number, enter the value in this setting.
        The default value is: 25
  -->
			<setting name="MailServerPort" value="587" />

			<setting name="MailServerUseSsl" value="true"/>

		</settings>
	</sitecore>
</configuration>
