<?xml version="1.0"?>
<configuration name="Foundation.Assets">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\AssetTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Foundation\Assets\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Foundation/Assets"/>
  </templatePredicate>
</configuration>