@using System.Collections
@using Foundation.ORM.Sitecore.templates.Project.Adventure
@using Glass.Mapper.Sc.Web.Mvc

<div class="container">
    <div class="row">
        @Html.Sitecore().DynamicPlaceholder("featuredEvent")
    </div>
</div>

