<?xml version="1.0"?>
<configuration name="Feature.Mailing">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\MailingTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Feature\Mailing\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Feature/Mailing"/>
  </templatePredicate>
</configuration>