<?xml version="1.0"?>
<configuration name="Foundation.ORM">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\Templates.cs" />

  <dataStore physicalRootPath="$(configDirectory)\Project\Adventure\serialization" />

  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Project/Adventure"/>
  </templatePredicate>
</configuration>
