<?xml version="1.0"?>
<configuration name="Feature.EventSearchComponent">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\EventSearchComponentTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Feature\EventSearchComponent\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Feature/EventSearchComponent"/>
  </templatePredicate>
</configuration>