<?xml version="1.0"?>
<configuration name="Feature.Login">
  <codeGenerator scripts="Scripts/GlassMapper.csx" outputFile="$(configDirectory)\$(layer)\$(module)\code\Models\EventsTemplates.cs" />
  
  <dataStore physicalRootPath="$(configDirectory)\Feature\Login\serialization" />
  
  <templatePredicate type="Leprechaun.Filters.StandardTemplatePredicate, Leprechaun" rootNamespace="$(layer).$(module)" singleInstance="true">
    <include name="Templates" path="/sitecore/templates/Feature/Login"/>
  </templatePredicate>
</configuration>